[build]
  command = "npm run build"
  publish = "dist"

[dev]
  framework = "#auto"
  targetPort = 5173 
  port = 8888 
  publish = "dist" 

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200

[build.environment]
  NODE_VERSION = "22"
